/* ==============
	Variables imported into main.scss
============== */
$sans-serif: "Belgrano", Georgia, serif;
$sans: "Source Sans Pro", sans-serif;
$black: #333333;
$white: white;

//Spirit palette
$dark-green: #08392f;
$green: #25551b;
$light-green: #036957;
$pale-green: #b9ccb0;
$gold: #b6ac59;
$light-gold: #dddebc;
$gold: #efe988;
$brick: #854f32;
$blue: #28767d;

//old palette
//$base-brown:#3a3129;
//$light-brown:#867a6f;
//$dark-green:#0f4836;
//$green:#05614d;
//$light-green:#85a36a;
//$light-blue:#28767d;
//$blue:#008997;
//$gold:#cbccbb;