/* ==============
	Variables imported into main.scss
============== */
$serif: 'Droid Serif', Georgia, serif;
$sans: 'Open Sans', sans-serif;
$black: #333333;
$white: white;

//Spirit palette

$dark-green: #0c4301;
$green: #25551b;
$light-green: #5c8021;
$pale-green: #baccaf;
$gold: #b6ac59;
$light-gold: #dddebc;
$gold: #efe988;
$brick: #933621;
$dark-brick:#5e2417;
$orange:#b65300;
$dark-orange:#984907;
$blue: #28767d;